In [19]:
import pandas as pd
import requests

df = pd.read_csv(r"C:\Users\claud\OneDrive\Escritorio\Ironhack\Labs\week 3\Usa-Shootings-and-State-Parties\gva_mass_shootings-2025-10-21.csv")
df

,incident_id,incident_date,incident_time,updated_date,state,city_or_county,address,business_location_name,latitude,longitude,...,injured,victims_killed,victims_injured,suspects_killed,suspects_injured,suspects_arrested,incident_characteristics,sources,date_fixed,year
0,809048,"April 1, 2017",NaN,1491348530,Florida,Tampa,219 S Howard Ave,Palace Lounge,27.9431,-82.4831,...,4,1,4,0,0,1,"Shot - Wounded/Injured, Shot - Dead (murder, a...","c(""http://wfla.com/2017/04/01/tampa-police-inv...",2017-04-01,2017
1,809499,"April 1, 2017",5:25 AM,1680156402,Oklahoma,Oklahoma City,1212 N Woodward Ave,NaN,35.4810,-97.5754,...,3,2,3,0,0,1,"Shot - Wounded/Injured, Shot - Dead (murder, a...","c(""http://www.news9.com/story/35055747/okc-pol...",2017-04-01,2017
2,809815,"April 1, 2017",NaN,1492995601,California,Pittsburg,100 block of Madoline Street,NaN,38.0053,-121.8950,...,5,0,5,0,0,1,"Shot - Wounded/Injured, Mass Shooting (4+ vict...",http://www.nbcbayarea.com/news/local/Shooting-...,2017-04-01,2017
3,1082835,"April 1, 2018",2:15 AM,1522693801,Michigan,Saginaw,600 block of Yale St,NaN,43.4192,-83.9819,...,5,0,5,0,0,0,"Shot - Wounded/Injured, Mass Shooting (4+ vict...",http://www.mlive.com/news/saginaw/index.ssf/20...,2018-04-01,2018
4,1083011,"April 1, 2018",NaN,1646889853,Alabama,Mobile,3556 Halls Mill Rd,Grand Hall,30.6387,-88.1228,...,4,1,4,0,0,3,"Shot - Wounded/Injured, Shot - Dead (murder, a...","c(""http://www.al.com/news/mobile/index.ssf/201...",2018-04-01,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5463,2411007,"September 9, 2022",4:50 PM,1722738993,New York,Bronx,810 Astor Ave,Pelham Parkway Houses,40.8592,-73.8634,...,4,0,4,0,0,1,"Shot - Wounded/Injured, Mass Shooting (4+ vict...","c(""https://twitter.com/NYC_Alerts911/status/15...",2022-09-09,2022
5464,2411901,"September 9, 2022",11:50 PM,1689272621,Minnesota,Minneapolis,328 W Broadway Ave,4th Street Saloon,44.9994,-93.2848,...,3,1,3,0,0,0,"Shot - Wounded/Injured, Shot - Dead (murder, a...","c(""https://www.fox9.com/news/2-pregnant-women-...",2022-09-09,2022
5465,2410446,"September 9, 2022",9:00 AM,1715920831,Maryland,Elk Mills,47 Hebron Ct,NaN,39.6611,-75.8365,...,0,4,0,1,0,0,"Shot - Dead (murder, accidental, or suicide), ...","c(""https://www.cbsnews.com/baltimore/news/five...",2022-09-09,2022
5466,2703975,"September 9, 2023",11:30 PM,1694472936,South Carolina,Rock Hill,800 block of Brunswick Dr,NaN,34.8921,-81.0411,...,4,0,4,0,0,2,"Shot - Wounded/Injured, Mass Shooting (4+ vict...",https://www.heraldonline.com/news/local/crime/...,2023-09-09,2023
5467,2702902,"September 9, 2023",6:20 PM,1694313001,Illinois,Chicago,6500 block of S King Dr,NaN,41.7764,-87.6159,...,4,0,4,0,0,0,"Shot - Wounded/Injured, Mass Shooting (4+ vict...",https://home.chicagopolice.org/media_incident/...,2023-09-09,2023

In [43]:
years=list(range(2014,2025))
def get_edu(year):
    url_edu = f"https://api.census.gov/data/{year}/acs/acs1"
    params = {
        "get": "NAME,B15003_001E,B15003_002E,B15003_003E,B15003_004E,B15003_005E,"
        "B15003_006E,B15003_017E,B15003_022E,B15003_023E,B15003_025E",
        "for": "state:*"}
    response_1 = requests.get(url_edu, params=params)
    if response_1.status_code != 200:
        print(f"⚠️ {year}: HTTP {response_1.status_code} – skipping year")
        return pd.DataFrame()
    if not response_1.text.strip().startswith('[['):
        print(f"⚠️ {year}: invalid or empty response – skipping year")
        return pd.DataFrame()

    try:
        data = response_1.json()
    except Exception:
        print(f"⚠️ {year}: cannot decode JSON – skipping year")
        return pd.DataFrame()

    data = response_1.json()
    df_edu = pd.DataFrame(data[1:], columns=data[0])
    df_edu = df_edu.rename(columns={
        "NAME": "State",
        "B15003_001E": "Population_25plus",
        "B15003_002E": "No_Schooling_Completed",
        "B15003_003E": "Nursery_to_4th_Grade",
        "B15003_004E": "5th_to_6th_Grade",
        "B15003_005E": "7th_to_8th_Grade",
        "B15003_006E": "9th_Grade",
        "B15003_017E": "High_School_Graduate",
        "B15003_022E": "Bachelor_Degree",
        "B15003_023E": "Master_Degree",
        "B15003_025E": "Doctorate_Degree","state": "State_Code"})

    df_edu["Without Min Studies"]=df_edu[
        ["No_Schooling_Completed",
        "Nursery_to_4th_Grade",
        "5th_to_6th_Grade",
        "7th_to_8th_Grade",
        "9th_Grade"]].sum(axis=1)
    df_edu.drop(columns=["No_Schooling_Completed",
     "Nursery_to_4th_Grade",
     "5th_to_6th_Grade",
     "7th_to_8th_Grade",
     "9th_Grade","State_Code"], inplace=True)
    df_edu["year"]=year
    df_edu = df_edu[[
        "year", "State", "Population_25plus",
        "Without Min Studies", "High_School_Graduate",
        "Bachelor_Degree", "Master_Degree", "Doctorate_Degree"
    ]]
    return df_edu
frame=[]
for year in years:
    print(f"Fetching {year}...")
    df_year = get_edu(year)
    if not df_year.empty:
        frame.append(df_year)
df_edu = pd.concat(frame, ignore_index=True)
df_edu

Fetching 2014...
Fetching 2015...
Fetching 2016...
Fetching 2017...
Fetching 2018...
Fetching 2019...
Fetching 2020...
⚠️ 2020: HTTP 404 – skipping year
Fetching 2021...
Fetching 2022...
Fetching 2023...
Fetching 2024...

,year,State,Population_25plus,Without Min Studies,High_School_Graduate,Bachelor_Degree,Master_Degree,Doctorate_Degree
0,2014,Alabama,3256766,4356549153312303054,847523,478058,201391,33082
1,2014,Alaska,465149,328112814513577,108523,85634,33103,4304
2,2014,Arizona,4436226,6551349773143245977,899108,765784,328400,53578
3,2014,Arkansas,1968414,226383365018461493,568437,272411,104636,19380
4,2014,California,25654292,673107605487393741089646,4768478,5120162,2035257,394265
...,...,...,...,...,...,...,...,...
515,2024,Washington,5631460,958011353291819483343,975478,1372926,683345,113323
516,2024,West Virginia,1268689,13595730139218305,420214,187714,88027,13183
517,2024,Wisconsin,4172638,4413981610241295780,1057997,943201,362471,61628
518,2024,Wyoming,409344,460308100,90634,82918,35122,8475
519,2024,Puerto Rico,2428065,45010499829645512859,622833,506436,151031,32445

In [33]:
url_edu = "https://api.census.gov/data/2021/acs/acs1"
params = {
    "get": "NAME,B15003_001E,B15003_002E,B15003_003E,B15003_004E,B15003_005E,"
           "B15003_006E,B15003_017E,B15003_022E,B15003_023E,B15003_025E",
    "for": "state:*"
}
years=list(range(2014,2025))
response_1 = requests.get(url_edu, params=params)

data = response_1.json()
df_edu = pd.DataFrame(data[1:], columns=data[0])
num_cols = [c for c in df_edu.columns if c.startswith("B15003_")]
df_edu[num_cols] = df_edu[num_cols].apply(pd.to_numeric)
df_edu = df_edu.rename(columns={
    "NAME": "State",
    "B15003_001E": "Population_25plus",
    "B15003_002E": "No_Schooling_Completed",
    "B15003_003E": "Nursery_to_4th_Grade",
    "B15003_004E": "5th_to_6th_Grade",
    "B15003_005E": "7th_to_8th_Grade",
    "B15003_006E": "9th_Grade",
    "B15003_017E": "High_School_Graduate",
    "B15003_022E": "Bachelor_Degree",
    "B15003_023E": "Master_Degree",
    "B15003_025E": "Doctorate_Degree","state": "State_Code"
  
})
df_edu["Without Min Studies"]=df_edu[
    ["No_Schooling_Completed",
     "Nursery_to_4th_Grade",
     "5th_to_6th_Grade",
     "7th_to_8th_Grade",
     "9th_Grade"]
].sum(axis=1)
df_edu.drop(columns=["No_Schooling_Completed",
     "Nursery_to_4th_Grade",
     "5th_to_6th_Grade",
     "7th_to_8th_Grade",
     "9th_Grade","State_Code"], inplace=True)

print(df_edu.columns)
df_edu

Index(['State', 'Population_25plus', 'High_School_Graduate', 'Bachelor_Degree',
       'Master_Degree', 'Doctorate_Degree', 'Without Min Studies'],
      dtype='object')

,State,Population_25plus,High_School_Graduate,Bachelor_Degree,Master_Degree,Doctorate_Degree,Without Min Studies
0,Alabama,3451208,902759,572276,271514,45110,57473
1,Puerto Rico,2401409,619884,493356,127459,33486,75728
2,Arizona,4980297,967537,985673,455187,76263,95958
3,Arkansas,2037763,572881,324137,140186,21775,35714
4,California,26909869,4909898,5958030,2573469,511191,1101187
5,Colorado,4044182,658973,1107309,500621,82500,63624
6,Connecticut,2534376,568748,587690,348217,48686,53943
7,Delaware,711104,178620,146295,80771,11932,9764
8,District of Columbia,478774,59776,120771,109362,23602,10602
9,Florida,15762122,3686864,3248221,1368496,225826,327997
10,Georgia,7234271,1585583,1514014,699356,118236,140568
11,Hawaii,1021687,242919,226849,91083,15610,17123
12,Idaho,1257566,276651,253762,94108,14532,15331
13,Illinois,8730697,1876064,1932282,961986,135093,164754
14,Indiana,4559631,1269024,843069,343526,55721,70583
15,Iowa,2137261,562603,441878,145253,30958,23758
16,Kansas,1942133,413617,427464,187756,28000,29994
17,Kentucky,3077867,804890,488546,248867,36013,44590
18,Louisiana,3117186,850729,523475,205307,37196,49170
19,Maine,1015078,252457,224987,98761,19055,8557
20,Maryland,4273260,888124,956533,606779,115978,81929
21,Massachusetts,4934755,982432,1250748,736774,156273,111296
22,Michigan,6971895,1721761,1338162,649768,89472,93266
23,Minnesota,3898742,788076,993883,367967,61485,60202
24,Mississippi,1968167,468575,303656,131795,23016,34968
25,Missouri,4226634,1111093,823215,382906,54527,43937
26,Montana,766758,171246,171377,64867,13138,3939
27,Nebraska,1292536,279521,286510,110814,20768,26195
28,Nevada,2192826,508559,393208,151284,22948,57489
29,New Hampshire,1008318,227099,247356,121904,16493,10126
30,New Jersey,6474427,1479429,1664353,829918,114349,128913
31,New Mexico,1450549,307881,231745,141079,32572,26830
32,New York,13987094,2861768,3105839,1784939,243446,413696
33,North Carolina,7245632,1504263,1573681,701259,111007,113241
34,North Dakota,506739,113177,113314,33528,6869,5511
35,Ohio,8117973,2343138,1536624,715694,100007,99148
36,Oklahoma,2639889,677761,483168,180357,33371,42972
37,Oregon,3030635,532145,680306,291933,57211,50592
38,Pennsylvania,9161945,2681099,1887722,914403,157572,126067
39,Rhode Island,773464,174827,161594,86087,15907,16831
40,South Carolina,3598398,864531,704740,321187,43169,48541
41,South Dakota,590377,144509,127258,40741,7013,6119
42,Tennessee,4814533,1229687,924404,380364,71681,71198
43,Texas,19224688,3893052,4077821,1664046,265486,590066
44,Utah,2010727,383119,484882,187250,28971,27634
45,Vermont,462705,109790,120373,60950,10500,2543
46,Virginia,5942672,1193258,1394875,803551,117241,92933
47,Washington,5401149,955764,1287465,599751,96684,102082
48,West Virginia,1265439,417980,179376,90559,13423,11654
49,Wisconsin,4076339,1077222,876467,322544,55759,43979
50,Wyoming,395348,86940,73255,30871,4719,3715
51,Alaska,485779,109305,101422,39120,6304,5040