In [47]:
import pandas as pd
url = "https://raw.githubusercontent.com/washingtonpost/data-school-shootings/master/school-shootings-data.csv"
df = pd.read_csv(url)
df

,uid,nces_school_id,school_name,nces_district_id,district_name,date,school_year,year,time,day_of_week,...,lat,long,staffing,low_grade,high_grade,lunch,county,state_fips,county_fips,ulocale
0,1,080480000707,Columbine High School,804800.0,Jefferson County R-1,4/20/1999,1998-1999,1999,11:19 AM,Tuesday,...,39.603910,-105.075000,89.60,9,12,41,Jefferson County,8,8059,21.0
1,2,220054000422,Scotlandville Middle School,2200540.0,East Baton Rouge Parish School Board,4/22/1999,1998-1999,1999,12:30 PM,Thursday,...,30.529958,-91.169966,39.00,6,8,495,East Baton Rouge Parish,22,22033,12.0
2,3,130441001591,Heritage High School,1304410.0,Rockdale County,5/20/1999,1998-1999,1999,8:03 AM,Thursday,...,33.626922,-84.047960,84.00,9,12,125,Rockdale County,13,13247,21.0
3,4,421899003847,John Bartram High School,4218990.0,Philadelphia City SD,10/4/1999,1999-2000,1999,10:00 AM,Monday,...,39.921509,-75.234108,41.00,9,12,2007,Philadelphia County,42,42101,11.0
4,5,250279000225,Dorchester High School,2502790.0,Boston,11/3/1999,1999-2000,1999,7:40 AM,Wednesday,...,42.285268,-71.075901,NaN,9,12,543,Suffolk County,25,25025,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,427,A9903532,Islamic School of Portland,NaN,NaN,10/17/2024,2024-2025,2024,14:23,Thursday,...,45.445016,-122.794909,20.50,PK,12,NaN,Washington County,41,41067,13.0
424,428,391001403029,Riverview Elementary School,3910014.0,Riverside Local,10/31/2024,2024-2025,2024,9:00 AM,Thursday,...,41.728395,-81.220884,28.40,KG,5,NaN,Lake County,39,39085,21.0
425,432,01933863,Abundant Life Christian School,NaN,NaN,12/16/2024,2024-2025,2024,10:57 AM,Monday,...,43.071460,-89.298221,24.90,KG,12,NaN,Dane County,55,55025,11.0
426,433,470318001257,Antioch High School,4703180.0,Davidson County,1/22/2025,2024-2025,2025,11:00 AM,Wednesday,...,36.046822,-86.598929,128.01,9,12,578,Davidson County,47,47037,11.0
427,434,362070002910,Newburgh Free Academy,3620700.0,Newburgh City School District,1/14/2025,2024-2025,2025,2:30 PM,Tuesday,...,41.509185,-74.027185,265.46,9,12,"1,957",Orange County,36,36071,13.0

In [36]:
df_states=pd.read_csv("C:\\Users\claud\\Downloads\\archive\\1976-2020-president.csv")
df_2000=df_states.loc[(df_states["year"]==2000)]
df_2000_winners= df_2000.loc[df_2000.groupby("state")["candidatevotes"].idxmax(), ["state", "party_simplified", "candidate", "candidatevotes", "totalvotes"]
].sort_values("state").reset_index(drop=True)
df_2000_winners.head(5)

        state party_simplified        candidate  candidatevotes  totalvotes
0     ALABAMA       REPUBLICAN  BUSH, GEORGE W.          941173     1666272
1      ALASKA       REPUBLICAN  BUSH, GEORGE W.          167398      285560
2     ARIZONA       REPUBLICAN  BUSH, GEORGE W.          781652     1532016
3    ARKANSAS       REPUBLICAN  BUSH, GEORGE W.          472940      921781
4  CALIFORNIA         DEMOCRAT         GORE, AL         5861203    10965822

In [24]:
df_shoot = pd.read_csv(url)
df_shoot["state_norm"] = df_shoot["state"].str.strip().str.lower()
# crear columna de año a partir de la fecha (asumiendo que hay una columna 'date')
df_shoot["date"] = pd.to_datetime(df_shoot["date"], errors="coerce")
df_shoot["year"] = df_shoot["date"].dt.year

In [32]:
if "victims" not in df_shoot.columns:
    if {"killed", "injured"}.issubset(df_shoot.columns):
        df_shoot["victims"] = df_shoot["killed"].fillna(0) + df_shoot["injured"].fillna(0)
    else:
        df_shoot["victims"] = None  # placeholder

# Agrupar
shoot_counts = (
    df_shoot
    .groupby(["state_norm", "year"])
    .agg(
        school_shootings_count=("uid", "count"),   # o 'id' si existe
        total_victims=("victims", "sum")
    )
    .reset_index())
shoot_counts.head()

  state_norm  year  school_shootings_count  total_victims
0    alabama  2010                       1              1
1    alabama  2012                       1              0
2    alabama  2016                       2              2
3    alabama  2017                       2              1
4    alabama  2018                       2              1

In [37]:
df_states["state_norm"] = df_states["state"].str.strip().str.lower()
shoot_counts["state_norm"] = shoot_counts["state_norm"].str.strip().str.lower()
df_recent = df_shoot[df_shoot["year"] >= 2022]

In [44]:
df_recent["state_norm"] = df_recent["state"].str.strip().str.lower()
shoot_counts_recent = (
    df_recent.groupby(["state_norm","year"])
    .agg(
        school_shootings_count=("uid", "count"),
        total_victims=("casualties", "sum")
    )
    .reset_index()
)

C:\Users\claud\AppData\Local\Temp\ipykernel_33940\1107382964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_recent["state_norm"] = df_recent["state"].str.strip().str.lower()

In [46]:
df_states["state_norm"] = df_states["state"].str.strip().str.lower()
merged_recent = df_states.merge(
    shoot_counts_recent,
    on=["state_norm","year"],
    how="left"
)
merged_recent

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified,state_norm,school_shootings_count,total_victims
0,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,20210113,NaN,DEMOCRAT,alabama,NaN,NaN
1,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"FORD, GERALD",REPUBLICAN,False,504070,1182850,20210113,NaN,REPUBLICAN,alabama,NaN,NaN
2,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,False,9198,1182850,20210113,NaN,OTHER,alabama,NaN,NaN
3,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"BUBAR, BENJAMIN """"BEN""""",PROHIBITION,False,6669,1182850,20210113,NaN,OTHER,alabama,NaN,NaN
4,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,False,1954,1182850,20210113,NaN,OTHER,alabama,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4282,2020,WYOMING,WY,56,83,68,US PRESIDENT,"JORGENSEN, JO",LIBERTARIAN,False,5768,278503,20210113,NaN,LIBERTARIAN,wyoming,NaN,NaN
4283,2020,WYOMING,WY,56,83,68,US PRESIDENT,"PIERCE, BROCK",INDEPENDENT,False,2208,278503,20210113,NaN,OTHER,wyoming,NaN,NaN
4284,2020,WYOMING,WY,56,83,68,US PRESIDENT,NaN,NaN,True,1739,278503,20210113,NaN,OTHER,wyoming,NaN,NaN
4285,2020,WYOMING,WY,56,83,68,US PRESIDENT,OVERVOTES,NaN,False,279,278503,20210113,NaN,OTHER,wyoming,NaN,NaN
4286,2020,WYOMING,WY,56,83,68,US PRESIDENT,UNDERVOTES,NaN,False,1459,278503,20210113,NaN,OTHER,wyoming,NaN,NaN